trunk/eea.dataservice/eea/dataservice/doc/migration/Maps_graphs_for_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Örjan Lindberg (European Environment Agency) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="maps_graphs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relatedgid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maps_graphs_gid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maps_graphs_version"/>
				<xs:element ref="maps_graphs_title"/>
				<xs:element ref="maps_graphs_note" minOccurs="0"/>
				<xs:element ref="maps_graphs_publish_date" minOccurs="0"/>
				<xs:element ref="maps_graphs_publish_level"/>
				<xs:element ref="maps_graphs_visible"/>
				<xs:element ref="metadata_typelabel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="maps_graphs_gid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="maps_graphs_note" type="xs:string"/>
	<xs:element name="maps_graphs_publish_date" type="xs:string"/>
	<xs:element name="maps_graphs_publish_level" type="xs:int"/>
	<xs:element name="maps_graphs_title" type="xs:string"/>
	<xs:element name="maps_graphs_version" type="xs:double"/>
	<xs:element name="maps_graphs_visible" type="xs:int"/>
	<xs:element name="metadata_text" type="xs:string"/>
	<xs:element name="metadata_text_publish_level" type="xs:int"/>
	<xs:element name="metadata_typelabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metadata_text" minOccurs="0"/>
				<xs:element ref="metadata_text_publish_level"/>
			</xs:sequence>
			<xs:attribute name="metadata_typelabel" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maps_graphs_gid" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="relatedgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
