trunk/eea.dataservice/eea/dataservice/migration/Data_for_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Örjan Lindberg (European Environment Agency) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="category" type="xs:string"/>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relatedgid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset_note" type="xs:string"/>
	<xs:element name="dataset_publish_date" type="xs:string"/>
	<xs:element name="dataset_publish_level" type="xs:int"/>
	<xs:element name="dataset_shortID" type="xs:int"/>
	<xs:element name="dataset_table_name" type="xs:string"/>
	<xs:element name="dataset_title" type="xs:string"/>
	<xs:element name="dataset_version" type="xs:double"/>
	<xs:element name="dataset_visible" type="xs:int"/>
	<xs:element name="datasetgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dataset_shortID"/>
				<xs:element ref="dataset_version"/>
				<xs:element ref="dataset_table_name"/>
				<xs:element ref="dataset_title"/>
				<xs:element ref="dataset_note" minOccurs="0"/>
				<xs:element ref="dataset_publish_date" minOccurs="0"/>
				<xs:element ref="dataset_publish_level"/>
				<xs:element ref="dataset_visible"/>
				<xs:element ref="metadata_typelabel" maxOccurs="unbounded"/>
				<xs:element ref="tableGroup" minOccurs="0"/>
				<xs:element ref="download_file" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="datasetgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="download_file">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableview_subgid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="download_file_agreementform" type="xs:string"/>
	<xs:element name="download_file_downloadfilesgid" type="xs:string"/>
	<xs:element name="download_file_filesgid" type="xs:string"/>
	<xs:element name="download_file_link" type="xs:string"/>
	<xs:element name="download_file_name" type="xs:string"/>
	<xs:element name="download_file_note" type="xs:string"/>
	<xs:element name="download_file_publish_level" type="xs:int"/>
	<xs:element name="download_file_shortID" type="xs:int"/>
	<xs:element name="download_file_size" type="xs:int"/>
	<xs:element name="download_file_title" type="xs:string"/>
	<xs:element name="metadata_text" type="xs:string"/>
	<xs:element name="metadata_text_publish_level" type="xs:int"/>
	<xs:element name="metadata_typelabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metadata_text" minOccurs="0"/>
				<xs:element ref="metadata_text_publish_level"/>
			</xs:sequence>
			<xs:attribute name="metadata_typelabel" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datasetgid" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="relatedgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableviewgid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableview_publish_level" type="xs:int"/>
	<xs:element name="tableview_subgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableviewsub_title" minOccurs="0"/>
				<xs:element ref="tableviewsub_note" minOccurs="0"/>
				<xs:element ref="tableviewsub_publish_level" minOccurs="0"/>
				<xs:element ref="tableviewsub_totalrecords" minOccurs="0"/>
				<xs:element ref="category" minOccurs="0"/>
				<xs:element ref="download_file_shortID" minOccurs="0"/>
				<xs:element ref="download_file_downloadfilesgid" minOccurs="0"/>
				<xs:element ref="download_file_name" minOccurs="0"/>
				<xs:element ref="download_file_link" minOccurs="0"/>
				<xs:element ref="download_file_size" minOccurs="0"/>
				<xs:element ref="download_file_publish_level" minOccurs="0"/>
				<xs:element ref="download_file_title" minOccurs="0"/>
				<xs:element ref="download_file_note" minOccurs="0"/>
				<xs:element ref="download_file_agreementform" minOccurs="0"/>
				<xs:element ref="download_file_filesgid" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="tableview_subgid" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableview_title" type="xs:string"/>
	<xs:element name="tableviewgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tableview_title"/>
				<xs:element ref="tableview_publish_level"/>
				<xs:element ref="tableview_subgid" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="tableviewgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableviewsub_note" type="xs:string"/>
	<xs:element name="tableviewsub_publish_level" type="xs:int"/>
	<xs:element name="tableviewsub_title" type="xs:string"/>
	<xs:element name="tableviewsub_totalrecords" type="xs:int"/>
</xs:schema>
