trunk/eea.dataservice/eea/dataservice/migration/Data_for_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Örjan Lindberg (European Environment Agency) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relatedgid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataset_note" type="xs:string"/>
	<xs:element name="dataset_publish_date" type="xs:string"/>
	<xs:element name="dataset_publish_level" type="xs:int"/>
	<xs:element name="dataset_title" type="xs:string"/>
	<xs:element name="dataset_version" type="xs:double"/>
	<xs:element name="dataset_visible" type="xs:int"/>
	<xs:element name="datasetgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dataset_version"/>
				<xs:element ref="dataset_title"/>
				<xs:element ref="dataset_note" minOccurs="0"/>
				<xs:element ref="dataset_publish_date" minOccurs="0"/>
				<xs:element ref="dataset_publish_level"/>
				<xs:element ref="dataset_visible"/>
				<xs:element ref="metadata_typelabel" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="datasetgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata_text" type="xs:string"/>
	<xs:element name="metadata_text_publish_level" type="xs:int"/>
	<xs:element name="metadata_typelabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metadata_text" minOccurs="0"/>
				<xs:element ref="metadata_text_publish_level"/>
			</xs:sequence>
			<xs:attribute name="metadata_typelabel" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="datasetgid" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="relatedgid" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
