trunk/eea.dataservice/eea/dataservice/migration/Data_for_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Örjan Lindberg (European Environment Agency) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="relatedgid" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="datasetgid" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dataset_shortID" type="xs:int"/>
										<xs:element name="dataset_version" type="xs:double"/>
										<xs:element name="dataset_table_name" type="xs:string"/>
										<xs:element name="dataset_title" type="xs:string"/>
										<xs:element name="dataset_note" type="xs:string" minOccurs="0"/>
										<xs:element name="dataset_publish_date" type="xs:string" minOccurs="0"/>
										<xs:element name="dataset_publish_level" type="xs:int"/>
										<xs:element name="dataset_visible" type="xs:int"/>
										<xs:element name="metadata_typelabel" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="metadata_type_publish_level">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="-1"/>
																<xs:enumeration value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="metadata_text" type="xs:string" minOccurs="0"/>
													<xs:element name="metadata_text_publish_level" type="xs:int"/>
												</xs:sequence>
												<xs:attribute name="metadata_typelabel" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="tableGroup" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="tableviewgid" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tableview_title" type="xs:string"/>
																<xs:element name="tableview_publish_level" type="xs:int"/>
																<xs:element ref="tableview_subgid" maxOccurs="unbounded"/>
															</xs:sequence>
															<xs:attribute name="tableviewgid" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="download_file" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="tableview_subgid" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Table_metadata" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="tableview_subgid" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="other_services" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="other_services_category" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="other_services_title" type="xs:string"/>
																<xs:element name="other_services_note" type="xs:string" minOccurs="0"/>
																<xs:element name="other_services_url" type="xs:string"/>
																<xs:element name="other_services_publish_level">
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:enumeration value="-1"/>
																			<xs:enumeration value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="other_services_category" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="quality_stamp" minOccurs="0">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="quality_name" type="xs:string"/>
													<xs:element name="quality_description" type="xs:string"/>
													<xs:element name="quality_value" type="xs:int"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="datasetgid" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="relatedgid" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableview_subgid">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tableviewsub_title" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_note" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_publish_level" type="xs:int" minOccurs="0"/>
				<xs:element name="tableviewsub_totalrecords" type="xs:int" minOccurs="0"/>
				<xs:element name="category" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_shortID" type="xs:int" minOccurs="0"/>
				<xs:element name="download_file_downloadfilesgid" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_name" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_link" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_size" type="xs:int" minOccurs="0"/>
				<xs:element name="download_file_publish_level" type="xs:int" minOccurs="0"/>
				<xs:element name="download_file_title" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_note" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_agreementform" type="xs:string" minOccurs="0"/>
				<xs:element name="download_file_filesgid" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_metadata_item" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_metadata_definition" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_metadata_note" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_metadata_datatype" type="xs:string" minOccurs="0"/>
				<xs:element name="tableviewsub_metadata_primarykey" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="-1"/>
							<xs:enumeration value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="tableview_subgid" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
